@model IEnumerable<DEMO_TiendaJunior.Models.VentasModel>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Listados de ventas</h1>

<p>
    <a asp-action="Create">Agregar venta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                N° de Venta:
            </th>
            <th>
                Fecha
            </th>
            <th>
                Cliente
            </th>
            <th>
                Dependiente
            </th>
            <th>
                Total vendido
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encargado)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Total_Venta)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }) |
                <a asp-controller="Detalles" asp-action="Index" asp-route-Id_Venta="@item.Id_Venta">Detalles</a> |
                @Html.ActionLink("Eliminar", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
