@model IEnumerable<DEMO_TiendaJunior.Models.VentasModel>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Listados de ventas</h1>

<p>
    <!--Copiar desde acá-->
    <a asp-action="Create" asp-controller="Ventas" class="btn btn-success">
        Registrar venta
    </a>
    <!--Hasta acá y reemplazar por el anterior enlace, recordar cambiar la ruta del controlador a la de la tabla que están editando-->
</p>
<table class="table table-bordered table-striped table-responsive" id="salesTable"> <!--Copiar este formato para la etiqueta table-->
    <thead>
        <tr>
            <th>
                N° de Venta:
            </th>
            <th>
                Fecha
            </th>
            <th>
                Cliente
            </th>
            <th>
                Dependiente
            </th>
            <th>
                Total vendido
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encargado)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Total_Venta)
            </td>
                <!--Copiar desde acá-->
            <td>
                <div class="w-50 btn-group" role="group">
                    <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@item.Id_Venta"><i class="fa-solid fa-pen-to-square"></i></a>
                    <a class="btn btn-info mx-2" asp-controller="Detalles" asp-action="Index" asp-route-Id_Venta="@item.Id_Venta"><i class="fa-solid fa-list"></i></a>
                    <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@item.Id_Venta"><i class="fa-solid fa-trash"></i></a>
                </div>
            </td>
                <!--Hasta acá, excepto el a de detalles-->
        </tr>
}
    </tbody>
</table>
@section Scripts {
     <!--Copiar toda esta sección-->
    <script>
        $(document).ready(function () {
            $("#salesTable").DataTable({ //Darle el mismo nombre definido en la etiqueta table
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 5, //Definir cuantas columnas tendrá la tabla, en en este caso son 3, la columna de acciones no debe ser contada.
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
}