@model IEnumerable<DEMO_TiendaJunior.Models.VentasModel>

@{
    ViewData["Title"] = "Ventas";
}

<h1>Listados de ventas</h1>

<p>
    <a asp-action="Create">Agregar venta</a>
</p>
<table class="table table-bordered table-striped table-responsive" id="salesTable"> <!--Copiar este formato para la etiqueta table-->
    <thead>
        <tr>
            <th>
                N° de Venta:
            </th>
            <th>
                Fecha
            </th>
            <th>
                Cliente
            </th>
            <th>
                Dependiente
            </th>
            <th>
                Total vendido
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dFecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cliente)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Encargado)
            </td>
            <td>
                $ @Html.DisplayFor(modelItem => item.Total_Venta)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id_Venta">Editar</a> |
                <a asp-controller="Detalles" asp-action="Index" asp-route-Id_Venta="@item.Id_Venta">Detalles</a> |
                <a asp-action="Delete" asp-route-id="@item.Id_Venta">Eliminar</a> |
            </td>
        </tr>
}
    </tbody>
</table>
@section Scripts {
     <!--Copiar toda esta sección-->
    <script>
        $(document).ready(function () {
            $("#salesTable").DataTable({ //Darle el mismo nombre definido en la etiqueta table
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 5, //Definir cuantas columnas tendrá la tabla, en en este caso son 3, la columna de acciones no debe ser contada.
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
}