@model DEMO_TiendaJunior.Models.ProductoModel

@{
    ViewData["Title"] = "Delete";
}

<h3>¿Deseas borrar este producto?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Producto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Producto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Presentacion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Presentacion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stock)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stock)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdCategoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdCategoria)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input asp-for="Id_Producto", type="hidden" class="form-control"/>

        <div class="col-4 offset-2 row">
            <div class="col">
                <button type="submit" class="btn btn-danger w-100"><i class="fa-solid fa-trash"></i> Borrar</button>
            </div>
            <div class="col">
                <a class="btn btn-info w-100" asp-action="Index"><i class="fa-solid fa-arrow-left"></i> Volver</a>
            </div>
        </div>
    </form>
</div>
