@model IEnumerable<DEMO_TiendaJunior.Models.ProductoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Productos</h1>

<p>
    <a asp-action="Create">Registrar nuevo producto</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Id_Producto
            </th>
            <th>
                Nombre del producto
            </th>
            <th>
                Presentacion
            </th>
            <th>
               Stock
            </th>
            <th>
               Categoria
            </th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @item.Categoria?.Nombre
            </td>
            <td>
                <a
                    asp-controller="Producto"
                    asp-action="Edit"
                    asp-route-id="@item.Id_Producto"
                >   Editar
                </a>

                <a
                    asp-controller="Producto"
                    asp-action="Delete"
                    asp-route-id="@item.Id_Producto"
                > Eliminar
                </a>

            </td>
        </tr>
}
    </tbody>
</table>