@model IEnumerable<DEMO_TiendaJunior.Models.ProductoModel>

@{
    ViewData["Title"] = "Productos";
}

<h1>Listado de Productos</h1>

<p>
    <a asp-action="Create" asp-controller="Producto" class="btn btn-success">
        Registrar nuevo producto
    </a>
</p>
<table class="table table-bordered table-striped table-responsive" id="salesTable">
    <thead>
        <tr>
            <th>
               Id_Producto
            </th>
            <th>
                Nombre del producto
            </th>
            <th>
                Presentacion
            </th>
            <th>
               Stock
            </th>
            <th>
               Categoria
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Producto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Presentacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Stock)
            </td>
            <td>
                @item.Categoria?.Nombre
            </td>
                <td>
                    <div class="w-50 btn-group" role="group">
                        <a class="btn btn-warning mx-2" asp-action="Edit" asp-route-id="@item.Id_Producto"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a class="btn btn-danger mx-2" asp-action="Delete" asp-route-id="@item.Id_Producto"><i class="fa-solid fa-trash"></i></a>
                    </div>
                </td>
            @* <td>
                <a
                    asp-controller="Producto"
                    asp-action="Edit"
                    asp-route-id="@item.Id_Producto"
                >   Editar
                </a>

                <a
                    asp-controller="Producto"
                    asp-action="Delete"
                    asp-route-id="@item.Id_Producto"
                > Eliminar
                </a>

            </td> *@
        </tr>
}
    </tbody>
</table>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#salesTable").DataTable({ 
                dom: 'Bfrtip',
                buttons: [
                    {
                        extend: 'csv',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'pdf',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    },
                    {
                        extend: 'excel',
                        exportOptions: {
                            columns: ':not(:last-child)'
                        }
                    }
                ],
                columnDefs: [
                    {
                        targets: 5, 
                        orderable: false,
                        searchable: false
                    }
                ],
                language: {
                    url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-ES.json'
                }
            });
        });
    </script>
}